
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{else}}
<section>
    <h2>You don't have any posts yet!</h2>
</section>
{{/if}}
<div>
    <button> New Post</button>
</div>

<script src="/public/javascript/dashboard.js"></script>